@{
    var transactions = ViewBag.Transactions as List<Homework_SkillTree.Models.TransactionModel>;
}
<div class="row mt-4">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>類別</th>
                    <th>日期</th>
                    <th>金額</th>
                </tr>
            </thead>
            <tbody>
                @if (transactions != null && transactions.Any())
                {
                    int index = 0;
                    foreach (var transaction in transactions)
                    {
                        <tr>
                            <td>@(++index)</td>
                            <td>@transaction.Category</td>
                            <td>@transaction.Money</td>
                            <td>@transaction.Date.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">目前沒有交易資料</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
